<div class="container">
    <div class="row my-2">
        <div class="col justify-content-between">
            <form class="d-flex col-3" role="search">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Loại sản phẩm</option>
                    <option value="1">LSP 1</option>
                    <option value="2">LSP 2</option>
                </select>
                <button type="button" class="btn btn-primary mx-2">Lọc</button>
            </form>
        </div>
    </div>
    <div>
        <table class="table caption-top table-bordered">
            <caption class="fw-semibold">Sản phẩm đã bán</caption>
            <thead class="table-dark">
                <tr class="col text-center">
                    <th class="text-center align-middle col" scope="col">#</th>
                    <th class="text-center align-middle col" scope="col-3">Tên sản phẩm</th>
                    <th class="text-center align-middle col" scope="col-3">Mã sản phẩm</th>
                    <th class="text-center align-middle col" scope="col">Đơn giá</th>
                    <th class="text-center align-middle col" scope="col">Số lượng</th>
                    <th class="text-center align-middle col" scope="col">Thành tiền</th>
                    <th class="text-center align-middle col" scope="col">Tên khách hàng</th>
                    <th class="text-center align-middle col" scope="col">Trạng thái</th>
                    <th class="text-center align-middle col" scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-center align-middle" scope="row">1</th>
                    <td class="text-center align-middle">Sản phẩm 1</td>
                    <td class="text-center align-middle">SP 1</td>
                    <td class="text-center align-middle">50.000 VNĐ</td>
                    <td class="text-center align-middle">5</td>
                    <td class="text-center align-middle">250.000 VNĐ</td>
                    <td class="text-center align-middle">Namnv</td>
                    <td class="text-center align-middle">Đã giao</td>
                    <td class="text-center align-middle">
                        <button type="button" class="btn btn-primary mx-1 my-1">Sửa</button>
                        <button type="button" class="btn btn-danger mx-1 my-1">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <th class="text-center align-middle" scope="row">1</th>
                    <td class="text-center align-middle">Sản phẩm 1</td>
                    <td class="text-center align-middle">SP 1</td>
                    <td class="text-center align-middle">50.000 VNĐ</td>
                    <td class="text-center align-middle">5</td>
                    <td class="text-center align-middle">250.000 VNĐ</td>
                    <td class="text-center align-middle">Namnv</td>
                    <td class="text-center align-middle">Đã giao</td>
                    <td class="text-center align-middle">
                        <button type="button" class="btn btn-primary mx-1 my-1">Sửa</button>
                        <button type="button" class="btn btn-danger mx-1 my-1">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <th class="text-center align-middle" scope="row">1</th>
                    <td class="text-center align-middle">Sản phẩm 1</td>
                    <td class="text-center align-middle">SP 1</td>
                    <td class="text-center align-middle">50.000 VNĐ</td>
                    <td class="text-center align-middle">5</td>
                    <td class="text-center align-middle">250.000 VNĐ</td>
                    <td class="text-center align-middle">Namnv</td>
                    <td class="text-center align-middle">Đã giao</td>
                    <td class="text-center align-middle">
                        <button type="button" class="btn btn-primary mx-1 my-1">Sửa</button>
                        <button type="button" class="btn btn-danger mx-1 my-1">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <th class="text-center align-middle" scope="row">1</th>
                    <td class="text-center align-middle">Sản phẩm 1</td>
                    <td class="text-center align-middle">SP 1</td>
                    <td class="text-center align-middle">50.000 VNĐ</td>
                    <td class="text-center align-middle">5</td>
                    <td class="text-center align-middle">250.000 VNĐ</td>
                    <td class="text-center align-middle">Namnv</td>
                    <td class="text-center align-middle">Đã giao</td>
                    <td class="text-center align-middle">
                        <button type="button" class="btn btn-primary mx-1 my-1">Sửa</button>
                        <button type="button" class="btn btn-danger mx-1 my-1">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <th class="text-center align-middle" scope="row">1</th>
                    <td class="text-center align-middle">Sản phẩm 1</td>
                    <td class="text-center align-middle">SP 1</td>
                    <td class="text-center align-middle">50.000 VNĐ</td>
                    <td class="text-center align-middle">5</td>
                    <td class="text-center align-middle">250.000 VNĐ</td>
                    <td class="text-center align-middle">Namnv</td>
                    <td class="text-center align-middle">Đã giao</td>
                    <td class="text-center align-middle">
                        <button type="button" class="btn btn-primary mx-1 my-1">Sửa</button>
                        <button type="button" class="btn btn-danger mx-1 my-1">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <th class="text-center align-middle" scope="row">1</th>
                    <td class="text-center align-middle">Sản phẩm 1</td>
                    <td class="text-center align-middle">SP 1</td>
                    <td class="text-center align-middle">50.000 VNĐ</td>
                    <td class="text-center align-middle">5</td>
                    <td class="text-center align-middle">250.000 VNĐ</td>
                    <td class="text-center align-middle">Namnv</td>
                    <td class="text-center align-middle">Đã giao</td>
                    <td class="text-center align-middle">
                        <button type="button" class="btn btn-primary mx-1 my-1">Sửa</button>
                        <button type="button" class="btn btn-danger mx-1 my-1">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>