<div class="container">
    <div class="row my-2">
        <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo">Thêm người dùng mới</button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm người dùng</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="FullName">
                                <label for="floatingInput">FullName</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="UserName">
                                <label for="floatingInput">UserName</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword"
                                    placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>Loại tài khoản</option>
                                    <option value="1">Admin</option>
                                    <option value="2">User</option>
                                </select>
                                <label for="floatingSelect">Loại tài khoản</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col justify-content-between">
            <form class="d-flex" role="search">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Lọc tài khoản</option>
                    <option value="1">Admin</option>
                    <option value="2">User</option>
                </select>
                <button type="button" class="btn btn-primary mx-2">Lọc</button>
            </form>
        </div>
    </div>
    <div>
        <table class="table caption-top table-bordered">
            <caption class="fw-semibold">Danh sách tài khoản</caption>
            <thead class="table-dark">
                <tr>
                    <th class="text-center align-middle" scope="col">#</th>
                    <th class="text-center align-middle" scope="col">Full Name</th>
                    <th class="text-center align-middle" scope="col">User Name</th>
                    <th class="text-center align-middle" scope="col">Email</th>
                    <th class="text-center align-middle" scope="col">Quyền</th>
                    <th class="text-center align-middle" scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-center align-middle" scope="row">1</th>
                    <td class="text-center align-middle">Quoc Anh</td>
                    <td class="text-center align-middle">Anhnq</td>
                    <td class="text-center align-middle">anhnq@fpt.edu.com</td>
                    <td class="text-center align-middle">Admin</td>
                    <td class="text-center align-middle">
                        <button type="button" class="btn btn-primary">Sửa</button>
                        <button type="button" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <th class="text-center align-middle" scope="row">1</th>
                    <td class="text-center align-middle">Quoc Anh</td>
                    <td class="text-center align-middle">Anhnq</td>
                    <td class="text-center align-middle">anhnq@fpt.edu.com</td>
                    <td class="text-center align-middle">Admin</td>
                    <td class="text-center align-middle">
                        <button type="button" class="btn btn-primary">Sửa</button>
                        <button type="button" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <th class="text-center align-middle" scope="row">1</th>
                    <td class="text-center align-middle">Quoc Anh</td>
                    <td class="text-center align-middle">Anhnq</td>
                    <td class="text-center align-middle">anhnq@fpt.edu.com</td>
                    <td class="text-center align-middle">Admin</td>
                    <td class="text-center align-middle">
                        <button type="button" class="btn btn-primary">Sửa</button>
                        <button type="button" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <th class="text-center align-middle" scope="row">1</th>
                    <td class="text-center align-middle">Quoc Anh</td>
                    <td class="text-center align-middle">Anhnq</td>
                    <td class="text-center align-middle">anhnq@fpt.edu.com</td>
                    <td class="text-center align-middle">Admin</td>
                    <td class="text-center align-middle">
                        <button type="button" class="btn btn-primary">Sửa</button>
                        <button type="button" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <th class="text-center align-middle" scope="row">1</th>
                    <td class="text-center align-middle">Quoc Anh</td>
                    <td class="text-center align-middle">Anhnq</td>
                    <td class="text-center align-middle">anhnq@fpt.edu.com</td>
                    <td class="text-center align-middle">Admin</td>
                    <td class="text-center align-middle">
                        <button type="button" class="btn btn-primary">Sửa</button>
                        <button type="button" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>