<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form method="post" action="/signin">
                    <div class="divider d-flex align-items-center my-4">
                        <h3 class="text-center fw-bold mx-3 mb-0">Đăng ký tài khoản</h3>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="fullname" placeholder="name@example.com"
                            name="fullname" required>
                        <label for="floatingInput">FullName</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" placeholder="name@example.com"
                            name="username" required>
                        <label for="floatingInput">UserName</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email"
                            required>
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" placeholder="name@example.com"
                            name="password" required>
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="repassword" placeholder="name@example.com"
                            name="repass" required>
                        <label for="floatingPassword">Repeat Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="acctype" placeholder="name@example.com" value="User"
                            name="acctype" readonly>
                        <label for="acctype">Loại tài khoản</label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="form-check mb-2">
                            <input class="form-check-input me-2" type="checkbox" name="checkbox" value="checked"
                                id="checkbox" required />
                            <label class="form-check-label" for="form2Example3">
                                I have read and agree to the terms
                            </label>
                        </div>
                    </div>

                    <div class="text-center text-lg-start">
                        <button type="submit" class="btn btn-primary btn-lg fw-bold"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Signin</button>
                    </div>
                </form>
                <div class="text-center text-lg-start">
                    <p class="small fw-bold mt-2">Have an account? <a href="/login" class="link-danger">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</section>