<div class="container text-center">
    <img src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png" class="rounded mx-auto d-block img-fluid"
        width="200" height="200" alt="User Avatar">
    <p class="text-capitalize fw-bold fs-4 mb-0">{{curUser.fullname}}</p>
    <p class="text fs-6 my-0">@{{curUser.username}}</p>
    <p class="text fs-6 mt-0">{{curUser.email}}</p>
</div>